/*!
 * Backbone.Notifier v0.2.0 - Base Styles
 * Copyright 2012, Eyal Weiss
 */
.notifier-screen {
  background-color: #000;
  z-index: 90000022;
}
.notifier {
  z-index: 90000025;
  position: fixed;
  top: -32px;
  left: 0;
  right: 0;
  width: auto;
  height: 0;
  overflow: visible;
}
.notifier > div {
  cursor: default;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.notifier > div em {
  font-weight: bold;
  font-style: italic;
}
.notifier button.default {
  font-weight: bold;
}
.notifier .notifier-inner .notifier-btns button.link {
  border-width: 0 0 1px 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-right: 0!important;
  padding-left: 0!important;
  padding-bottom: 0;
}
.notifier-with-loader .notifier-message {
  display: inline;
}
.notifier-loader {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
