.instructions li {
	/*line-height: 30px;*/
	margin: 10px 0 0 20px;
}

.instructions li .file {
	width: 450px;
	display: inline-block;
	display: -moz-inline-stack;
    zoom: 1;
    *display: inline;
    font-style: italic;
}

.code-wrapper {
	margin: 10px 20px 20px 40px;

}

.code-wrapper > .title {
	height: 31px;
	font-size: 20px;
	border: solid 1px rgba(0, 0, 0, 0.15);
	border-bottom: 0 none;
	padding: 3px 3px 0 20px;
	background-color: #DBDBDB;
	box-shadow: inset 0 -1px 2px #C7C7C7;
}

.code-wrapper > .title > h3 {
	float: left;
	width: 80%;
	text-shadow: 0 1px 0 #F1F1F1;
}

.code-wrapper > .title > button {
	float: right;
	width: 10%;
}

.code-wrapper pre {
	clear: both;
	float: none;
	color: #888;

	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.code-wrapper pre > strong {
	font-weight: normal;
	color: #222;
}
.code-wrapper pre > small {
	color: green;
}

#installation .file {
	color: #666;
}
#installation .file > strong { 
	color: #000;
}